{% extends "base.html" %}

{% block content %}

<br>
<br>

<p>
	<a href="too_long/">Who has the book too long?</a>
	<br>
	<br>
	</form>

	<br>
	<br>

</p>

<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}

	table,
	td,
	th {
		border: 1px solid black;
		padding: 5px;
		text-align: center;
	}
</style>

<table>
	<tr>
		<th>ID</th>
		<th>Book's ID</th>
		<th>Book's title</th>
		<th>Book's author</th>
		<th>Reader's ID</th>
		<th>Reader's name</th>
		<th>Date of return</th>
		<th><a href="/loans/lend/">Lend</a></th>
	</tr>
	{% if loans %}
	{% for l in loans %}
	<tr>
		<th>{{ l.id }}</th>
		<th>{{ l.book.id }}</th>
		<th>{{ l.book.title }}</th>
		<th>{{ l.book.author }}</th>
		<th>{{ l.reader.id }}</th>
		<th>{{ l.reader.name }}</th>
		<th>{{ l.date_of_return }}</th>
		<th>
			<a href="/loans/return/{{ l.id }}/">Return</a>
		</th>
	</tr>
	{% endfor %}
	{% else %}
	<p>No loans are available.</p>
	{% endif %}
</table>

{% endblock %}